<section class='container' style='padding: 20px;
margin:20px;background: rgb(116, 116, 231);
border-radius: 5px;box-shadow: 5px 5px 5px black;'>

        <div class="row">
          <div class="col-md-6">
    <form action="/newsletter" method="post">

        <h2>Newsletter</h2>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" />
        </div>

          <div class="form-group">
            <label for="nome">Email</label>
            <input type="text" name="email" id="email" class="form-control" />
          </div>

          <button class="btn btn-primary">Enviar</button>

    </form>
</div>
</div>

</section>