<%- include('./partials/header') %>

    <main class='container-fluid my-5 py-5 text-center' style='margin: 50px;
    height:100vh;'>
        <h2>Ops, essa página não foi encontrada!</h2>

        <a href="/" class='btn btn-danger'>Voltar</a>

        <img src="/imagens/404.svg" alt="">
    </main>

<%- include('./partials/footer') %>