<%- include('./partials/header')%>

    <main class='container my-5 py-5 text-center'>
        <h2>Contato</h2>
        <div class="alert alert-success">
            <p>
                Olá <%= nome %> 
            </p>
            <p>
                Iremos responder no email <%= email %>
            </p>

        </div>
    </main>


<%- include('./partials/footer')%>