<%- include('./partials/header') %>


    <main class='container my-5 py-5 text-center'>

        <h1>Newletter</h1>

        <div class="alert alert-success">
        <h2>Olá <%= nome %></h2>
        <p>
            Iremos enviar nosso conteúdo diário pelo
            email <%= email %>
        </p>
        </div>

    </main>



<%- include('./partials/footer') %>