<%- include('./partials/header') %>


    <main class='container my-5 py-5 text-center'>

        <h1>Newletter</h1>

        <div class="alert alert-warning">
        <h2>Olá <%= nome %></h2>
        <p>
            O e-mail <%= email %> já está cadastrado na nossa newsletter!
        </p>
        </div>

    </main>



<%- include('./partials/footer') %>